<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="main-wrapper">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <div id="login_div">
    <form>
    	<label>Username</label>
    	<input type="text" id="username">
    	<label>Password</label>
    	<input type="password" id="password">
    	<button>Login</button>
    </form>
    </div>
    <hr>

    <h2>Register</h2>
    	<label>Full name</label>
    	<input type="text" id="full_name">
    	<label>Username</label>
    	<input type="text" id="username">
    	<label>Password</label>
    	<input type="password" id="password">
    	<button>Register</button>
    </form>
</div>
  </body>
</html>
